.bg {
    box-sizing: border-box;
    min-height: 100%;
    padding-top: 190px;
    background: #5f5cd3 url('../images/collection/bg.png') no-repeat;
    text-align: center;
}

.total {
    box-sizing: border-box;
    width: 317px;
    height: 56px;
    border: 6px solid #e8a300;
    line-height: 44px;
    margin: 0 auto 33px;
    background-color: #f6b10f;
    border-radius: 28px;
    color: #fff;
    font-size: 26px;
}

.total b {
    font-size: 34px;
    vertical-align: top;
}

.charactor {
    position: relative;
    display: inline-block;
    width: 294px;
    height: 254px;
    margin-bottom: 30px;
}

.charactor-1 {
    composes: charactor;
}

.charactor-1-adopted {
    composes: charactor;
}

.charactor-2 {
    composes: charactor;
}

.charactor-2-adopted {
    composes: charactor;
}

.charactor-3 {
    composes: charactor;
}

.charactor-3-adopted {
    composes: charactor;
}

.charactor-4 {
    composes: charactor;
}

.charactor-4-adopted {
    composes: charactor;
}

.charactor-5 {
    composes: charactor;
}

.charactor-5-adopted {
    composes: charactor;
}

.charactor-6 {
    composes: charactor;
}

.charactor-6-adopted {
    composes: charactor;
}

.name {
    position: absolute;
    bottom: 0;
    left: calc(50% - 70px);
    width: 140px;
    height: 44px;
    line-height: 44px;
    margin: auto;
    background-color: #9a98f3;
    border-radius: 22px;
    color: #fff;
    font-size: 26px;
}