# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8

# Matches multiple files with brace expansion notation
# Set default charset
[*.{html,js,jsx,css,less}]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = false
# max_line_length = 50

[*.{html,js,jsx}]
indent_size = 4

[*.{css,less}]
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{package.json}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
