.outflowBg {
    height: 100%;
    background: #ebebee;
    font-size: 22px;
    color: #333;
}

.info {
    width: 720px;
    height: 240px;
    background-color: #ffffff;
    text-align: center;
    display: table;
}

.name {
    color: #999;
    margin-top: 50px;
}

.number {
    font-size: 70px;
    color: #555;
}

.condition {
    color: #999;
    margin-top: 15px;
}

.content {
    margin-top: 20px;
    background: #fff;
}

.title {
    width: 690px;
    height: 74px;
    font-size: 30px;
    line-height: 74px;
    color: #555555;
    padding-left: 30px;
    background-color: #f9f9f9;
}

.entrance {
    width: 690px;
    height: 60px;
    padding: 40px 0;
    margin-left: 30px;
    border-bottom: 1px solid #e3e5ea;
    display: table;
    line-height: 60px;
}

.rmb {
    display: inline-block;
    font-size: 44px;
    color: #333333;
    margin-right: 20px;
    vertical-align: middle;
}

.input {
    outline: none;
    width: 400px;
    height: 100%;
    line-height: 60px;
    border: 0 none;
    vertical-align: middle;
    font-size: 30px;
}

input::-webkit-input-placeholder {
    color: #cccccc;
}

input:-moz-placeholder {
    color: #cccccc;
}

input::-moz-placeholder {
    color: #cccccc;
}

input:-ms-input-placeholder {
    color: #cccccc;
}

.enLeft {
    float: left;
}

.enRight {
    float: right;
    font-size: 26px;
    color: #4aa1f9;
    margin-right: 30px;
}

.submit {
    width: 660px;
    margin: 60px auto 0;
    height: 74px;
    border-radius: 4px;
    background-color: #fd4d4c;
    text-align: center;
    line-height: 74px;
    color: #fff;
    font-size: 32px;
}

.rulerDes {
    margin-top: 498px;
    text-align: center;
    color: #4aa1f9;
}

.text {
    display: inline-block;
    vertical-align: middle;
}

.icon {
    composes: text;
    width: 30px;
    height: 26px;
    background: url("../../images/current/icon-book.png") no-repeat center;
    margin-right: 10px;
}

.popWrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.popContent {
    width: 560px;
    height: 460px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -260px;
    margin-left: -310px;
    border-radius: 10px;
    padding: 30px;
    font-size: 28px;
    color: #555;
}

.optionsItem {
    width: 100%;
    height: 74px;
    line-height: 74px;
    text-align: center;
    border-radius: 4px;
    border: solid 2px #e3e5ea;
    margin-top: 20px;
}

.optionsItemOn {
    composes: optionsItem;
    border: solid 2px #fd4d4c;
    background: url("../../images/current/icon-selected.png") no-repeat 529px 47px;
    color: #fd4d4c;
}

.btn {
    margin-top: 30px;
    display: table;
}

.btnItem {
    width: 265px;
    height: 64px;
    border-radius: 4px;
    background-color: #7c9dc7;
    margin-right: 30px;
    float: left;
    text-align: center;
    color: #fff;
    line-height: 64px;
}

.btnItem:last-child {
    margin-right: 0;
    background-color: #fd4d4c;
}
