.detailBg {
    background: #ebebee;
    height: 100%;
    font-size: 28px;
    color: #555;
}

.info {
    width: 720px;
    height: 221px;
    background: #ffffff;
    text-align: center;
    display: table;
}

.number {
    font-size: 70px;
    color: #fd4d4c;
    margin-top: 64px;
}

.name {
    font-size: 22px;
    color: #999;
}

.detailWrapper {
    width: 100%;
    height: auto;
    background: #ffffff;
    margin-top: 20px;
}

.detailItem {
    width: 660px;
    height: 88px;
    border-bottom: 1px solid #e3e5ea;
    margin-left: 30px;
    padding: 0 30px 0 0;
    line-height: 88px;
    display: table;
}

.detailItem:last-child {
    border: 0 none;
}

.itemLeft {
    float: left;
}

.itemRight {
    float: right;
    color: #333;
}

.colorRed {
    color: #fd4d4c;
}

.colorBlue {
    color: #4aa1f9;
}

.iconArrow {
    display: inline-block;
    width: 16px;
    height: 26px;
    background: url("../../images/current/arrow.png") no-repeat center;
    vertical-align: middle;
}