.bg {
    background-color: #5595ff;
    padding-bottom: 40px;
    font-size: 24px;
    color: #333333;
    font-family: "Microsoft YaHei", Arial, Helvetica, simhei, sans-serif;
}

.header {
    background: url("../../images/topic/commission/WAPheader.png") no-repeat;
    width: 720px;
    height: 342px;
    margin: 0 auto;
}

.partone {
    width: 660px;
    height: 558px;
    margin: 0 auto;
    background: url("../../images/topic/commission/WAPzunxiangbg.png") no-repeat center;
    position: relative;
    text-align: center;
    line-height: 33px;
}

.textleft {
    width: 296px;
    height: 110px;
    position: absolute;
    bottom: 30px;
    left: 0;
    margin-left: 18px;
}

.textright {
    width: 296px;
    height: 110px;
    position: absolute;
    bottom: 30px;
    right: 0;
    margin-left: 18px;
}

.parttwo {
    width: 660px;
    height: 560px;
    margin: 0 auto;
    background: url("../../images/topic/commission/WAPp2pbg.png") no-repeat center;
    margin-top: 40px;
    position: relative;
}

.parttwo .text {
    width: 434px;
    height: 38px;
    position: absolute;
    bottom: 100px;
    left: 112px;
}

.addpromt {
    width: 660px;
    height: 150px;
    margin: 0 auto;
    color: #fff;
    line-height: 36px;
    padding-top: 45px;
}

.addcontext {
    display: inline-block;
    padding-left: 108px;
    margin-top: -36px;
}

.caltitle {
    width: 100%;
    height: 277px;
    background: url("../../images/topic/commission/WAcal.png") no-repeat center;
}

.caltext {
    color: #fff;
    padding-top: 230px;
    text-align: center;
}

.parttBox {
    width: 100%;
    background-color: #6ca2ff;
}

.partthree {
    width: 663px;
    height: 1880px;
    background: url("../../images/topic/commission/WAP_03.png") no-repeat center;
    margin: 0 auto;
}

.thtitle {
    width: 617px;
    height: 106px;
    margin: 0 auto;
    text-align: center;
    padding-top: 95px;
    line-height: 40px;
}

.space {
    width: 100%;
    height: 817px;
}

.casetitle {
    width: 600px;
    height: 150px;
    margin: 0 auto;
    line-height: 43px;
}

.date {
    width: 600px;
    height: 207px;
    margin: 0 auto;
    text-align: center;
    th {
        color: #005479;
    }
}

.casetwotitle {
    width: 600px;
    height: 180px;
    margin: 0 auto;
    line-height: 43px;
    padding-top: 56px;
}

.partf {
    width: 720px;
    height: 2125px;
    background: url("../../images/topic/commission/WAPpart4bg.png") no-repeat center;
    margin: 0 auto;
}

.ftitle {
    width: 600px;
    height: 149px;
    margin: 0 auto;
    padding-top: 145px;
    line-height: 40px;
}

.gap {
    height: 1052px;
}

.fsubtitle {
    width: 600px;
    height: 90px;
    margin: 0 auto;
    line-height: 43px;
    padding-top: 20px;
}

.refund {
    width: 600px;
    height: 243px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 21px;
}

.refund tr {
    height: 60px;
    line-height: 60px;
}

.refund th {
    font-weight: normal;
}

.warmprompt {
    width: 660px;
    height: 432px;
    margin: 0 auto;
    line-height: 43px;
    color: #fff;
    padding-top: 10px;
}

.last {
    width: 660px;
    height: 413px;
    margin: 0 auto;
    background: url("../../images/topic/commission/WAPlastbg_03.png") no-repeat center;
    display: table;
}

.final {
    width: 600px;
    height: 240px;
    margin: 0 auto;
    margin-top: 107px;
}

.final tr {
    text-align: center;
}

.final th {
    font-weight: normal;
}

.explain {
    width: 660px;
    height: 80px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #256add;
    border-radius: 20px;
    color: #fff;
    line-height: 80px;
    text-align: center;
}