.novice-box {
    background-color: #ffeebc;
    font-size: 24px;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.novice-title {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #ff795f;
    text-align: center;
    color: #fff;
    font-size: 36px;
}

.model {
    width: 689px;
    margin: 0 auto;
    height: 210px;
}

.text {
    line-height: 35px;
    color: #fff;
}

.yellow {
    font-size: 28px;
    color: #f4ff7e
}

.model-new {
    margin-top: 16px;
    margin-bottom: 10px;
    background: url("../../images/topic/novice/novice-newer.png") no-repeat center;
}

.new-text {
    width: 410px;
    height: 95px;
    padding: 40px 48px 46px 230px;
}

.model-primary {
    background: url("../../images/topic/novice/model-new.png") no-repeat center;
    height: 219px;
}

.primary-text {
    width: 369px;
    height: 72px;
    padding: 76px 238px 56px 80px;
}

.model-middle {
    background: url("../../images/topic/novice/model-middle.png") no-repeat center;
    height: 228px;
}

.middle-text {
    width: 369px;
    height: 72px;
    padding: 90px 238px 56px 217px;
}

.model-advanced {
    background: url("../../images/topic/novice/model-top.png") no-repeat center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.advanced-text {
    width: 369px;
    height: 72px;
    padding: 76px 238px 56px 80px;
}

.footer {
    width: 100%;
    height: 115px;
}

.clickevent {
    float: left;
    padding-top: 16px;
    padding-left: 180px;
}

.link {
    display: block;
    width: 352px;
    height: 81px;
    background: url("../../images/topic/novice/button.png") no-repeat center;
    cursor: pointer;
}

.activity {
    float: right;
    padding-right: 16px;
}

.popup-window {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.pop-close {
    width: 62px;
    height: 62px;
    position: absolute;
    top: 50px;
    right: 40px;
    z-index: 50;
}

.pop-text {
    width: 100%;
    height: 1000px;
    padding-top: 152px;
    line-height: 40px;
    color: #fff;
    background: url("../../images/topic/novice/detail.png") no-repeat center;
    z-index: 11;
}

.p-title {
    color: #f4ff7e;
}

.p-text {
    padding-left: 75px;
    width: 600px;
}