.bg {
    background: #6daf49;
    padding-bottom: 160px;
}

.user-level {
    height: 88px;
    line-height: 88px;
    background: #ffeed9;
    position: relative;
    font-size: 24px;
    padding-left: 30px;
}

.user-level .text {
    float: left;
}

.level {
    margin-left: 15px;
    color: #fe5d5b;
    float: left;
    font-size: 42px;
}

.interest {
    width: 200px;
    height: 138px;
    position: absolute;
    top: 0;
    right: 40px;
    background: transparent url(../../images/topic/rewarding/bg-1.png) no-repeat;
}

.interest-text {
    color: white;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
}

.interest-value {
    color: #ffe65d;
    text-align: center;
    font-size: 42px;
    line-height: 60px;
}

.interest-value span {
    font-size: 20px;
}

.table {
    height: 650px;
    background: transparent url(../../images/topic/rewarding/bg-2.png) no-repeat;
    box-sizing: border-box;
    font-size: 30px;
    color: white;
    padding: 40px 60px 10px;
}

.upGrade {
    width: 560px;
    height: 58px;
    margin: 0 auto;
    background-color: #537d68;
    border-radius: 0 0 8px 8px;
}

.upGradeLink {
    display: block;
    width: 560px;
    height: 58px;
    margin: 0 auto;
    color: #4aa1f9;
    text-decoration: underline;
    line-height: 65px;
    text-align: center;
}

.yellow {
    color: #ffe65d;
}

.row {
    height: 58px;
    line-height: 58px;
    padding-left: 90px;
    margin: 0 20px;
    display: table;
    width: 470px;
}

.row div {
    float: right;
    text-align: center;
    width: 60%;
}

.row-first {
    margin-top: 20px;
    border-radius: 8px 8px 0 0;
}

.row-last {
    border-radius: 0 0 8px 8px;
}

.row-a {
    background: #e78237;
}

.row-b {
    background: #416f58;
}

.row-c {
    background: #537d68;
}

.img {
    display: block;
    margin: 0 auto;
}

.invest {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 136px;
}