.bg {
    width: 100%;
    height: 100%;
    background: #ebebee;
}

.banner {
    width: 100%;
    height: 225px;
}

.tabGroup {
    width: 100%;
    display: table;
    height: 90px;
    line-height: 90px;
    position: relative;
    background: #ebebee;
    margin-top: -6px;
    padding: 0 0 4px;
}

.dashed1 {
    height: 30px;
    width: 3px;
    background: url("../../images/topic/school/dash.png") no-repeat;
    position: absolute;
    top: 30px;
    left: 230px;
}

.dashed2 {
    height: 30px;
    width: 3px;
    background: url("../../images/topic/school/dash.png") no-repeat;
    position: absolute;
    top: 30px;
    right: 250px;
}

.tabBlock {
    float: left;
    width: 33.33%;
    text-align: center;
    color: #555;
    font-size: 32px;
    background: #fff;
}

.tab {
    padding: 0 4px;
    font-style: normal;
    /* padding-bottom: 23px; */
}

.selected {
    color: #fa4f51;
    border-bottom: 4px solid #fa4f51;
}

.space {
    height: 20px;
    width: 100%;
    background: #ebebee;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.list {
    width: 100%;
    height: 100%;
    background: #fff;
}

.cell {
    display: block;
    margin-left: 30px;
    height: 90px;
    line-height: 90px;
    border-bottom: #e3e5ea 1px solid;
    font-size: 28px;
    color: #555;
}

.cellText {
    float: left;
    width: 620px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.iconArrow {
    float: right;
    margin: 30px 30px 31px 0;
}