body {
    color: #777;
    font-size: 24px;
}

.text--gold {
    color: #f6b311;
}

.text--red {
    color: #f9655a;
}

.text--blue {
    color: #5157ae;
}

.text--paragraph {
    line-height: 1.5;
}

.text--ribbon {
    width: 363px;
    height: 75px;
    line-height: 45px;
    margin: auto;
    background-image: url('../../images/topic/zeng-jin-bao/ribbon.png');
    color: #fff;
    font-size: 28px;
    text-align: center;
}

.banner img {
    width: 100%;
}

.tab-group {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    display: table;
    width: 100%;
    height: 82px;
    margin: -4px auto 0;
}

.tab-item {
    float: left;
    width: 20%;
    height: 82px;
    line-height: 82px;
    background-color: #ededed;
    color: #777;
    text-align: center;
}

.tab-item--active {
    composes: tab-item;
    composes: text--gold;
    background-color: #fff;
}

.fragment {
    margin-top: 60px;
}

.fragment-title {
    composes: text--ribbon;
    margin-bottom: 45px;
}

.product, .partner {
    padding: 0 40px;
}

.product .sub-title {
    margin-top: 48px;
    color: #555;
    line-height: 2.5;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.product .advantages-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: url('../../images/topic/zeng-jin-bao/list-style-bg.png') inside;
}

.product .advantages-list li {
    box-sizing: border-box;
    line-height: 2;
}

.product .deal-process {
    margin-top: 105px;
}

.product .deal-process img {
    display: block;
    position: relative;
    left: -33px;
    margin-top: 30px;
}

.security {
    margin-top: 120px;
}

.ensure-card {
    box-sizing: border-box;
    padding: 25px 36px 25px 178px;
}

.ensure-card-1 {
    composes: ensure-card;
    background: url('../../images/topic/zeng-jin-bao/security-step1.png') no-repeat 30px;
}

.ensure-card-2 {
    composes: ensure-card;
    background: url('../../images/topic/zeng-jin-bao/security-step2.png') no-repeat 30px;
}

.ensure-card-3 {
    composes: ensure-card;
    background: url('../../images/topic/zeng-jin-bao/security-step3.png') no-repeat 30px;
}

.ensure-card .no {
    float: left;
    width: 88px;
    height: 36px;
    line-height: 36px;
    margin: 0 18px 12px 0;
    background-color: #f6b311;
    border-radius: 18px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.card-title {
    float: left;
    height: 36px;
    line-height: 36px;
    composes: text--blue;
}

.ensure-card .description {
    clear: both;
    font-size: 22px;
}

.invest-case {
    padding: 0 40px;
}

.invest-case .sub-title {
    height: 64px;
    line-height: 64px;
    background-color: #e8e8e8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #323232;
    font-size: 28px;
    text-align: center;
}

.invest-case .sub-title i {
    display: inline-block;
    width: 26px;
    height: 54px;
    margin-right: 12px;
    vertical-align: top;
}

.invest-case .case-background {
    height: 496px;
    margin-bottom: 30px;
    background: url('../../images/topic/zeng-jin-bao/case-bg.png') no-repeat;
    border-radius: 4px;
}

.case-background table {
    width: 640px;
    height: 288px;
}

.case-background table .sub-title i {
    background: url('../../images/topic/zeng-jin-bao/case-bg-icon.png') no-repeat center;
}

.case-background table th {
    box-sizing: border-box;
    width: 235px;
    text-align: right;
    padding-right: 20px;
    color: #777;
    font-weight: normal;
}

.case-background table td {
    box-sizing: border-box;
    text-align: left;
    padding-left: 21px;
    color: #323232;
    font-weight: normal;
}

.case-income {
    position: relative;
    height: 413px;
    background-color: #faf9f3;
    border-radius: 4px;
    font-size: 22px;
}

.case-income .sub-title i {
    background: url('../../images/topic/zeng-jin-bao/income-cal-icon.png') no-repeat center;
}

.case-income .income-cal {
    box-sizing: border-box;
    padding-top: 30px;
    margin-bottom: 72px;
    color: #333;
    line-height: 1.5;
    text-align: center;
}

.case-income .income-cal .income-ammount {
    font-size: 50px;
    line-height: 2;
}

.case-income .income-cal .income-ammount span {
    font-size: 38px;
}

.case-income .income-cal .cal {
    color: #333;
    line-height: 1.5;
}

.case-income .income-cal .cal-formula {
    font-size: 38px;
    line-height: 2;
}

.purchase-process {
    margin: 72px 0 30px;
}

.purchase-process img {
    position: relative;
    display: block;
    margin-top: 30px;
    left: -25px;
}

.partner .sub-title {
    font-size: 30px;
    margin-bottom: 18px;
    text-align: center;
}

.qa-item {
    margin: 0 40px 40px;
}

.q {
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 16px;
}

.q-no {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 9px;
    border-radius: 50%;
    background-color: #9b9ec9;
    color: #fff;
    text-align: center;
    vertical-align: bottom;
}

.a {
    margin: 0 0 48px 40px;
}

.warning {
    padding: 18px 30px;
    background-color: #e8e8e8;
    color: #919191;
}