<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=720, user-scalable=no">
    <meta name="viewport-fit" content="cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="format-detection" content="telephone=no" />    
    <!-- 接口地址前缀 -->
    <meta name="api-path" content="{{ htmlWebpackPlugin.options.API_PATH }}" />
    <meta name="debug" content="{{ htmlWebpackPlugin.options.DEBUG }}" />
    <title>签到养豆哥</title>
</head>

<body style="height: 100%">
    <div id="cnt" style="height: 100%"></div>
</body>
</html>