.bg {
    background: white;
    text-align: center;
    color: #333;
    font-size: 24px;
}

.bg img {
    display: block;
    width: 100%;
}

.bg a img {
    width: 70%;
    margin: 35px auto 0;
}

.hr {
    height: 1px;
    background: gray;
    margin: 45px;
    opacity: 0.3;
}

.big-text {
    text-align: center;
    font-size: 40px;
    margin: 15px auto 25px;
}

.small-text {
    text-align: center;
    line-height: 32px;
    margin: 25px auto;
}

.copyright {
    text-align: center;
    margin: 120px auto 60px;
}