.bg {
    background: #62699c;
    font-size: 24px;
}

.bg img {
    display: block;
    border: 0;
    margin: 0 auto;
}

.summary {
    margin: 20px;
    color: white;
    text-indent: 2em;
}

.section {
    margin: 20px;
    border-radius: 16px;
    padding: 90px 20px 20px 20px;
    background: white;
    position: relative;
}

.section img {
    max-width: 100%;
}

.section .tips {
    position: absolute;
    width: 397px;
    height: 77px;
    line-height: 60px;
    padding-left: 20px;
    box-sizing: border-box;
    top: 20px;
    left: -10px;
    font-size: 28px;
    background: url(../../images/features/cookbook/tips-bg.png) no-repeat;
    color: white;
    .cover {
        width: 50px;
        height: 17px;
        background: white;
        position: absolute;
        left: 10px;
        bottom: 0;
        border-radius: 10px 0 0 0;
    }
}

.section .link {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 280px;
    line-height: 60px;
    color: #769cf6;
    text-align: right;
}

.section .text {
    padding: 20px;
    background: #e2e7fc;
    line-height: 42px;
    margin: 15px 0;
}

.section .text-title {
    color: #769cf6;
}


.bg a {
    color: #769cf6;
}

.text-1-1 {
    position: absolute;
    font-size: 24px;
    color: #777;
    left: 190px;
    top: 145px;
}