.vipContent {
    background: #636a8c url(../../images/vip-prerogative/update-banner.jpg) no-repeat top center;
    padding-top: 622px;
    padding-bottom: 20px;
    font-family: 'PingFang SC';
}

.section {
    position: relative;
    display: table;
    margin: 20px auto 0;
    width: 660px;

    color: #7f849f;
    font-size: 24px;
    line-height: 36px;

    background-color: #fff;
    border-radius: 12px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.title-img {
    position: absolute;
    display: block;
    top: -2px;
    left: -10px;
}


.level-gift {
    float: left;
    width: 50%;
    text-align: center;
}

.level-gift .level-gift-pic {
    display: block;
    margin: 10px auto;
}

.gift-title {
    display: block;
    margin: 10px auto;
}

.table-gift {
    border-radius: 12px;
    width: 615px;
    margin: 10px auto;
    font-size: 20px;
    text-align: center;
    border-spacing: 0;
    overflow: hidden;
}

.table-gift-tr {
    height: 60px;
    line-height: 60px;
    display: table;
    width: 100%;
    background: #8ba3e6;
    color: white;
}

.table-gift-even {
    height: 60px;
    line-height: 60px;
    display: table;
    width: 100%;
    background: #f6f7fa;
}

.table-gift-odd {
    height: 60px;
    line-height: 60px;
    display: table;
    width: 100%;
    background: #fff;
}

.titlerow {
    float: left;
    width: 20%;
    text-align: center;
}

.bg-a {
    background-color: #f6f7fa;
}

.bg-b {
    background-color: #e6e9f8;
}

.bg-c {
    background-color: #fff;
}

.bg-d {
    background-color: #eceef9;
}

.comments {
    font-size: 18px;
    line-height: 28px;
    padding: 5px 20px;
}

.paragraph {
    text-indent: 2em;
    margin: 20px;
    font-size: 22px;
}

.value-formula {
    border-radius: 24px;
    color: #e84f76;
    background-color: #e9edfd;
    text-indent: 2em;
    margin: 20px;
    padding: 10px;
}

.value-describe {
    padding: 18px 15px 14px;
    border: 1px dashed #c8c0c0;
    margin: 20px;
}

.oweData {
    padding-left: 30px;
    position: relative;
}

.oweData:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 13px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #7f88b2;
}

.owespan {
    color: #e84f76;
}


.section-3 .example-img {
    display: block;
    margin: 20px auto;
}


.section-4 .table-level-box {
    display: table;
    width: 620px;
    margin: 20px auto;
    box-sizing: border-box;
    border-radius: 16px;
    overflow: hidden;
}

.tableLevelTitle {
    width: 100%;
    height: 66px;
    line-height: 66px;
    color: #fff;
    background-color: #8ba3e6;
    display: table;
    text-align: center;
}

.tableLevelTitle .cell-title {
    width: 309px;
    float: left;
    border-right: 1px solid white;
}

.tableLevelTitle .cell-title:last-child {
    border-right: 0 none;
}

.tableLevelCell {
    height: 66px;
    line-height: 66px;
    color: #777;;
    background-color: #e6e9f8;
    display: table;
    text-align: center;
}

.tableLevelCell .cell {
    width: 309px;
    float: left;
    border-right: 1px solid white;
}

.tableLevelCell .cell-even {
    background-color: #f6f7fa;
}

.text {
    padding: 10px 20px 10px 60px;
    margin: 10px 0;
    font-size: 30px;
    position: relative;
}

.text:before {
    content: ' ';
    display: block;
    color: white;
    position: absolute;
    top: 10px;
    left: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    background-color: #8ba3e6;
}

.text span.red {
    color: #e84f76;
}

.formula {
    border-radius: 24px;
    color: #e84f76;
    background-color: #e9edfd;
    padding: 10px 0 10px 20px;
    margin-top: 10px;
}

.text-1:before {
    content: '1';
}

.text-2:before {
    content: '2';
}

.text-3:before {
    content: '3';
}

.text-4:before {
    content: '4';
}

.text-5:before {
    content: '5';
}

.text-6:before {
    content: '6';
}

.text-7:before {
    content: '7';
    position: absolute;
    top: 10px;
}

.text-8:before {
    content: '8';

}


