.header-placeholder {
    height: 88px;
    display: block;
}
.iosapp-header-placeholder {
    padding-top: 1px;
    height: 127px;
    background: white;
}

.header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    line-height: 88px;
    background-color: #fff;
    text-align: center;
    font-size: 36px;
    color: #333;
    border-bottom: 1px solid rgba(216, 216, 216, 0.3);
}

.iosapp-header {
    box-sizing: border-box;
    height: 128px;
    padding-top: 40px;
}

.btn {
    display: block;
    float: left;
    width: 80px;
    height: 88px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
}

.btn-back {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAvCAMAAADKIyriAAAANlBMVEUAAABTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VJZJVcAAAAEXRSTlMANVOWEcuHY/JDHq2sk24qBSwN9qcAAABOSURBVDjL7dQ5EoAwDMXQHyDOwur7XxaG2uoZJmpfL4V1yyWW5E8FxTOKG4p3lDTkk3KiaEdRRdH60rwE1JxtGvYLu9gOoWWhwb/aVk03h7wUJoaUshAAAAAASUVORK5CYII=');
}

.btn-close {
    left: 80px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAoCAMAAABKKxPSAAAAM1BMVEUAAABTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5VTb5X3/SoeAAAAEHRSTlMAVwe3sfSqTkM7IctwaTogp9pmxgAAAJhJREFUOMuN1UkSgCAMRNGoOE+5/2nNjsUvu5qNEt4KSBPx3msYY58z26jEtixPRMsak4BDrc9HOUCwzCu2BCTLtf4AyVqEgn0JM8EwB2NFMtZYYpUFAckIyX4g2B+UrMOzMwnJCMk0JPMdGSEZob8v/j7750bmXxdCMPM62+3ht5vfvoR2brg55Oaam5Nu7no5vtfnsN6FD9kIG72xV+BGAAAAAElFTkSuQmCC');
}

.btn:first-child {
  left: 0;
}

.sub-title {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 26px;
    right: 20px;
    height: 88px;
    color: #333;
}
