.bg {
    font-size: 28px;
    background-color: #ebebeb;
    min-height: 100%;
    padding-bottom: 1px;
}

.basic {
    height: 130px;
    padding: 20px 42px;
    background-color: #5b6993;
    color: #fff;
}

.goals {
    line-height: 50px;
    font-size: 42px;
}

.user-level {
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: top center;
    float: right;
    padding-top: 90px;
    text-align: center;
    color: white;
}

.user-level-1 {
    background-image: url('../../images/user/contribute/vip1_icon.png');
}

.user-level-2 {
    background-image: url('../../images/user/contribute/vip2_icon.png');
}

.user-level-3 {
    background-image: url('../../images/user/contribute/vip3_icon.png');
}

.user-level-4 {
    background-image: url('../../images/user/contribute/vip4_icon.png');
}

.user-level-0 {
    background-image: url('../../images/user/contribute/vip0_icon.png');
}

.tab {
    height: 90px;
    background-color: #fff;
    border-bottom: 3px solid #ebebeb;
}

.tab a {
    display: block;
    width: 162px;
    height: 90px;
    line-height: 90px;
    margin: 0 auto;
    text-align: center;
    float: left;
    margin-left: 130px;
}

.tab a.active {
    color: #fd4d4c;
    border-bottom: 4px solid #fd4d4c;
}

.empty-holder {
    margin: 160px auto;
    display: block;
    line-height: 80px;
    color: #999;
    padding-top: 180px;
    background: transparent url('../../images/user/contribute/empty.png') no-repeat top center;
    text-align: center;
}

.list-item {
    height: 172px;
    margin: 16px 0 20px 0;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    background: white;
}

.list-item .title {
    height: 74px;
    padding: 0 30px;
    line-height: 74px;
    border-bottom: 1px solid #eff0f3;
    background-color: #f9f9f9;
    color: #555;
}

.list-item .detail {
    height: 77px;
    padding: 10px 30px;
    color: #999;
}

.list-item .detail>div {
    display: inline-block;
}

.pull-right {
    float: right;
}

.pull-right b {
    color: #fd4d4c;
}