.bg {
    background-color: #ebebee;
    padding-bottom: 130px;
}

.banner {
    display: block;
    width: 100%;
    height: 634px;
}

.question-list {
    background-color: #fff;
    padding: 0 30px;
}

.question-item {
    border-bottom: 1px solid #e3e5ea;
}

.question-title {
    padding: 32px 0 30px;
    color: #333;
    font-size: 30px;
    max-height: 9999px;
}

.question-select {
    padding: 0 0 40px 62px;
    position: relative;
    line-height: 44px;
    max-height: 9999px;
    font-size: 30px;
    color: #666;
}

.select {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    background: transparent url("../../images/user/evaluate/no-checked.png") no-repeat 50%;
    max-height: 9999px;
}

.checked {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    background: transparent url("../../images/user/evaluate/checked.png") no-repeat 50%;
    max-height: 9999px;
}

.submit-panel {
    position: fixed;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    padding: 22px 30px;
}

.btn-submit {
    display: block;
    max-height: 9999px;
    height: 74px;
    line-height: 74px;
    color: #fff;
    font-size: 32px;
    text-align: center;
    background-color: #fd4d4c;
    border-radius: 4px;
}

.result-top {
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    padding: 1px 0 18px;
    margin-bottom: 20px;
}

.result-img {
    display: block;
    margin: 42px auto 18px;
}

.result-score {
    height: 72px;
    line-height: 72px;
    font-size: 60px;
    color: #3f3e41;
    max-height: 9999px;
}

.result-text1 {
    line-height: 50px;
    font-size: 30px;
    color: #2e2d33;
    max-height: 9999px;
}

.result-text2 {
    line-height: 80px;
    font-size: 60px;
    color: #fd4d4c;
    max-height: 9999px;
}

.result-cnt {
    padding: 0 30px 30px;
    background-color: #fff;
}

.result-text-1 {
    padding: 25px 0 7px;
    font-size: 26px;
    color: #333;
    line-height: 36px;
    max-height: 9999px;
}

.result-text-2 {
    font-size: 26px;
    color: #666;
    line-height: 40px;
    max-height: 9999px;
    text-indent: 2em;
}

.result-list-box {
    margin: 0 auto;
    border: 1px solid #e3e5ea;
    text-align: center;
}

.result-list-box .li-head {
    width: 100%;
    background-color: #a0b6d5;
    font-size: 28px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    display: table;
}

.result-list-box .li {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #d8d8d8;
    font-size: 26px;
    height: 66px;
    line-height: 66px;
    color: #555;
    display: table;
}

.result-list-box .li-l {
    float: left;
    width: 50%;
    border-right: 1px solid #d8d8d8;
    box-sizing: border-box;
}

.result-list-box .li-r {
    width: 50%;
    float: left;
}

.question-img {
    width: 100%;
    height: 634px;
    background: url("../../images/user/evaluate/questionbg.png") no-repeat center;
}

.question-tips {
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    color: #00b7c3;
    padding-left: 30px;
}

.question-content {
    width: 602px;
    height: 453px;
    padding-top: 30px;
    margin: 0 60px;
    font-size: 24px;
    color: #333;
    line-height: 30px;
}

.qc-text {
    padding-left: 20px;
}

.risk-tips {
    width: 660px;
    height: 63px;
    font-size: 26px;
    color: #6b4508;
    padding: 15px 30px;
    line-height: 34px;
}
