.card-grp {
    width: 3150px;
    padding: 10px 0 30px;
    background-color: #fff;
}

.card {
    display: inline-block;
    width: 620px;
    height: 372px;
    margin: 0 5px;
}

.card-0 {
    composes: card;
    background: url('../../images/user/level/card-0.jpg');
}

.card-1 {
    composes: card;
    background: url('../../images/user/level/card-1.jpg');
}

.card-2 {
    composes: card;
    background: url('../../images/user/level/card-2.jpg');
}

.card-3 {
    composes: card;
    background: url('../../images/user/level/card-3.jpg');
}

.card-4 {
    composes: card;
    background: url('../../images/user/level/card-4.jpg');
}