.applyPanel {
    width: 100%;
    height: 100%;
    background: #ebebee;
    display: table;
    font-size: 24px;
}

.section1 {
    width: 690px;
    padding-left: 30px;
    height: 242px;
    background: #fff;
    margin-top: 20px;
}

.section1Up {
    width: 100%;
    height: 71px;
    padding: 40px 0;
    border-bottom: 1px solid #e3e5ea;
    font-size: 24px;
    display: table;
    color: #999;
}

.item {
    width: 33.3%;
    float: left;
}

.item2 {
    width: 18%;
    margin-left: 40px;
}

.item3 {
    float: right;
    margin-right: 30px;
    width: 33%;
}

.itemUp {
    font-size: 28px;
    color: #333333;
    height: 58px;
}

.itemUp2 {
    line-height: 72px;
}

.itemDown {
    font-size: 22px;
}

.section1Down {
    width: 100%;
    height: 74px;
    line-height: 74px;
    font-size: 24px;
    color: #999999;
}

.section2 {
    width: 100%;
    height: 273px;
    margin-top: 20px;
    background: #fff;
}

.title {
    width: 660px;
    padding: 0 30px;
    height: 74px;
    line-height: 74px;
    display: table;
    background: #F9F9F9;
}

.titleLeft {
    float: left;
    font-size: 30px;
    color: #333;
}

.titleRight {
    float: right;
    font-size: 24px;
    color: #999;
}

.content {
    width: 660px;
    padding: 30px;
    position: relative;
}

.inputMoney {
    border: 1px solid #e3e5ea;
    border-radius: 8px;
    width: 660px;
    height: 74px;
    background: #f2f2f2;
    display: table;
    margin-bottom: 24px;
}

.inputMoney input {
    display: block;
    float: left;
    border: none;
    outline: none;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    background: #f2f2f2;
    font-size: 32px;
    color: #555;
    width: 420px;
    margin: 15px 0;
}

.inputMoney .allmadeBtn {
    display: block;
    color: #4aa1f9;
    float: right;
    padding-right: 20px;
    text-align: right;
    margin: 20px 0;
    font-size: 30px;
}

.money {
    width: 100%;
    height: 44px;
    display: table;
}

.money .remain {
    color: #555;
    padding-left: 5px;
}

.money .balance {
    width: 50%;
    height: 100%;
    float: left;
    color: #999;
}

.money .recharge {
    float: right;
    width: 100px;
    height: 44px;
    font-size: 26px;
    color: #7c9dc7;
    line-height: 44px;
    border-radius: 22px;
    text-align: center;
    border: solid 2px #7c9dc7;
}

.section3 {
    width: 660px;
    height: 94px;
    padding: 0 30px;
    line-height: 94px;
    margin-top: 20px;
    background: #fff;
    color: #999999;
    display: table;
}

.left {
    float: left;
    font-size: 30px;
    color: #333333;
}

.right {
    float: right;
}

.rightText {
    vertical-align: middle;
}

.iconArrow {
    width: 16px;
    height: 26px;
    display: inline-block;
    background: url("../../images/order/apply/arrow.png") no-repeat center;
    background-size: 100%;
    margin-left: 10px;
    vertical-align: middle;
}

.section4 {
    width: 660px;
    margin: 30px 0 0 30px;
    font-size: 24px;
    color: #999999;
    line-height: 30px;
    padding-bottom: 138px;
    padding-right: 30px;
}

.applyProtocol {
    display: inline-block;
    color: #4aa1f9;
}

.submitBtnContainer {
    width: 100%;
    height: 118px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 2px 10px #ccc;
}

.applyProtocol {
    display: inline-block;
    color: #4aa1f9;
}

.submitBtn {
    width: 660px;
    height: 74px;
    margin: 22px auto;
    background-color: #fd4d4c;
    font-size: 32px;
    color: #fff;
    line-height: 74px;
    text-align: center;
    border-radius: 4px;
}

.datePanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.main {
    width: 100%;
    height: 413px;
    position: absolute;
    bottom: 0;
    background: #fff;
}

.mainItem {
    width: 660px;
    height: 100px;
    padding: 30px 30px 0;
    display: table;
}

.mainItemLeft {
    width: 74px;
    height: 100%;
    float: left;
}

.mainItemRight {
    width: 580px;
    height: 100%;
    float: right;
    font-size: 22px;
    color: #999999;
    border-bottom: 1px solid #e3e5ea;
    padding-bottom: 30px;
}

.iconCheck {
    display: inline-block;
    width: 44px;
    height: 44px;
    margin-top: 28px;
    background: url("../../images/order/apply/icon-checked.png") no-repeat center;
}

.iconUnCheck {
    composes: iconCheck;
    background: 0 none;
}

.rightTitle {
    font-size: 30px;
}

.confirmBtn {
    width: 660px;
    height: 74px;
    margin: 0 auto;
    background: #FD4D4C;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    line-height: 74px;
    color: #ffffff;
}

.color333 {
    color: #333333;
}

.redRate {
    font-size: 50px;
    color: #FD4D4C;
}

.redPrecent {
    font-size: 30px;
    color: #FD4D4C;
}