.bg {
    background-color: white;
    color: #333;
    padding-bottom: 30px;
    min-height: 100%;
    font-size: 28px;
}

.qa{
    width: 690px;
    margin-left: 30px;
    border-bottom: 1px solid #e3e5ea;
}

.qa .q {
    position: relative;
    line-height: 1.5;
    padding: 22px 54px 22px 0;
}

.qa:last-child .q {
    border-bottom: 0;
}

.qa .icon-down-arrow {
    position: absolute;
    display: inline-block;
    height: 80px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    clear: both;
    right: 15px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAeCAMAAAD5ENUgAAAAdVBMVEUAAAC1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vcYjxOpaAAAAJnRSTlMABfjVuVkdEQzz6eTcy8ONcVAiCaWdl4JpZ0pCPjQrF+6xrn1hLoT08J4AAACdSURBVCjPbdHJAoIwDEVRUgQsoIDMg7Pm/z+RhA2kaZdn0/vaIIinwD0QYgeOjYj4qaVFZHhNJH4Zw1jizxBmf4mTJbSzxHtKaCKJt5wQS4nPC2Mh8XxibGQ9tL7Q3hc6MGYPiRXXp3I8bBcl+u7O0whqy6g3V0eaLdFrEa9tVFqpJxRqKjRM71qVtnCkrbTX/zs4X2H20r0jXxxZAX5VFChLm3dkAAAAAElFTkSuQmCC');
}

.qa .icon-down-arrow {
    transform: rotate(90deg);
    top: 0;
}

.qa.show .q .icon-down-arrow {
    transform: rotate(-90deg);
}

.qa.show .a {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2rem 1.6rem 2rem 0;
    line-height: 36px;
    color: #999999;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 9999rem;
}

.a {
    overflow: hidden;
    padding: 0 30px;
    height: 0;
    font-size: 24px;
}