.infoPanel {
    width: 100%;
    height: 100%;
    background: #ebebee;
    display: table;
    font-size: 24px;
}

.section1 {
    width: 100%;
    height: 400px;
    background: url("../../images/order/info/bg-info.png") no-repeat center;
    background-size: 100%;
    display: table;
}

.up {
    width: 100%;
    height: 185px;
    margin-top: 71px;
    text-align: center;
    display: table;
}

.number {
    font-size: 90px;
    color: #fff;
}

.percent {
    font-size: 42px;
}

.des {
    font-size: 22px;
    color: #94C1E4;
    text-align: left;
    padding-left: 284px;
}

.down {
    width: 660px;
    height: 60px;
    padding: 30px;
    background: rgba(21, 33, 57, 0.6);
    display: table;
}

.downItem {
    width: 33.3%;
    text-align: center;
    float: left;
    font-size: 32px;
    color: #fff;
}

.downItem1 {
    width: 28%;
}

.downItem2 {
    width: 38%;
}

.downItemDown {
    font-size: 22px;
    color: #94C1E4;
    margin-top: 5px;
}

.section2 {
    width: 660px;
    height: 398px;
    padding: 40px 30px;
    background: #fff;
    margin-top: 20px;
}

.item {
    height: auto;
    color: #999;
    display: table;
    margin-bottom: 30px;
}

.itemLeft {
    float: left;
    vertical-align: top;
    width: 137px;
}

.itemRight {
    float: right;
    width: 490px;
    color: #333333;
    line-height: 36px;
    vertical-align: top;
}

.tips {
    font-size: 22px;
    color: #999999;
}

.section3 {
    width: 100%;
    height: auto;
    display: table;
    margin-top: 20px;
    background: #ffffff;
}

.title {
    width: 690px;
    padding-left: 30px;
    height: 74px;
    line-height: 74px;
    font-size: 28px;
    color: #333333;
    background: #F9F9F9;
}

.flow {
    padding: 30px;
    width: 660px;
    height: 93px;
    position: relative;
}

.circle {
    width: 24px;
    height: 24px;
    background: url("../../images/order/info/icon-circle.png") no-repeat center;
}

.circle1 {
    position: absolute;
    left: 30px;
    top: 60px;
}

.circle2 {
    composes: circle1;
    left: 266px;
}

.circle3 {
    composes: circle1;
    left: 500px;
}

.line {
    width: 200px;
    height: 3px;
    background: #4AA1F9;
    border-radius: 1px;
}

.line1 {
    position: absolute;
    left: 63px;
    top: 70px;
}

.line2 {
    composes: line1;
    left: 294px;
    width: 200px;
}

.line3 {
    composes: line1;
    left: 530px;
    width: 160px;
}

.text {
    font-size: 21px;
    color: #4AA1F9;
}

.text1 {
    position: absolute;
    left: 103px;
    top: 33px;
}

.text2 {
    composes: text1;
    left: 338px;
}

.text3 {
    composes: text1;
    left: 593px;
}

.text4 {
    position: absolute;
    left: 111px;
    top: 78px;
    font-size: 20px;
    color: #AAAAAA;
}

.text5 {
    composes: text4;
    left: 350px;
}

.text6 {
    position: absolute;
    font-size: 20px;
    color: #333333;
    left: 24px;
    top: 83px;
}

.text7 {
    composes: text6;
    left: 247px;
    width: 54px;
}

.text8 {
    composes: text6;
    left: 481px;
    width: 80px;
}

.text9 {
    composes: text6;
    left: 574px;
    width: 80px;
    color: #AAAAAA;
    font-size: 20px;
}

.section4 {
    width: 100%;
    height: auto;
    margin-top: 20px;
    background: #fff;
}

.detail {
    width: 660px;
    height: 130px;
    padding: 30px;
    color: #333333;
    line-height: 36px;
}

.detailLine {
    margin-top: 30px;
}

.link {
    width: 100%;
    height: 88px;
    background: #fff;
    font-size: 28px;
    color: #333333;
    margin-top: 20px;
    display: table;
}

.linkItem {
    width: 660px;
    padding: 24px 30px 24px 0;
    margin-left: 30px;
    border-bottom: 1px solid #e3e5ea;
    display: table;
}

.linkItem:last-child {
    border: 0 none;
}

.linkLeft {
    float: left;
    height: 100%;
}

.linkRight {
    float: right;
    width: 16px;
    height: 26px;
    background: url("../../images/order/info/arrow.png");
    margin-top: 10px;
}

.iconLink {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.linkText {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    width: 200px;
    height: 100%;
}

.iconFaq {
    background: url("../../images/order/info/icon-question.png");
}

.iconPro {
    background: url("../../images/order/info/icon-protocol.png");
}

.prompt {
    width: 100%;
    height: 85px;
    text-align: center;
    color: #999999;
    line-height: 85px;
}

.orderBtnBg {
    width: 720px;
    height: 114px;
    background: #ffffff;
    display: table;
}

.orderBtn {
    width: 660px;
    height: 74px;
    background: #FD4D4C;
    text-align: center;
    line-height: 74px;
    font-size: 30px;
    color: #fff;
    border-radius: 5px;
    margin: 20px auto;
}

.orderBtnGrey {
    composes: orderBtn;
    background: #CCCCCC;
    color: #ffffff;
}

.gap {
    display: inline-block;
    width: 20px;
}
