.faqPanel {
    width: 100%;
    background-color: #ebebee;
    color: #555;
    font-size: 24px;
    padding-bottom: 20px;
}

.faqItem {
    width: 690px;
    padding: 30px 0 30px 30px;
    min-height: 150px;
    background: #fff;
    margin-top: 20px;
    line-height: 34px;
}

.faqTitle {
    width: 660px;
    min-height: 30px;
    border-bottom: 1px solid #e3e5ea;
    color: #333;
    font-weight: 700;
    padding: 0 30px 30px 0;
}

.faqText {
    width: 660px;
    min-height: 70px;
    padding: 30px 30px 0 0;
    color: #555;
}