.trusteeship-box {
    background-color: #ebebee;
    color: #333;
    padding: 30px;
    font-size: 30px;
    display: table;
}

.trusteeship-content {
    line-height: 46px;
}

.p-indent {
    text-indent: 2em;
}

.fs-40 {
    font-size: 40px;
}

.c-fl {
    float: left;
}

.c-flw {
    float: left;
    width: 50%;
}