.bg {
    background-color: #ebebee;
    color: #333;
    width: 100%;
    height: 100%;
    font-size: 24px;
}
.fl {
    float: left;
}

.fr {
    float: right;
}
.profileTitle{
    width: 95.8%;
    height: 69px;
    font-size: 28px;
    font-weight: 700;
    line-height: 69px;
    margin: 20px auto 0;
    background-color: #f9f9f9;
    padding-left: 4.2%;
    border-bottom: 1px solid #e2e2e2;
}
.profileBox{
    width: 100%;
    padding: 40px 0;
    background: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.profileText{
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    background: #fff;
    font-size: 24px;
    color: #555555;
    text-align: left;
    margin-top: 10px;
    line-height: 36px;
}
.chairmanRight {
    width: 100%;
    background: #fff;
    border-top: 1px solid #eaeaea;
    /* border-bottom: 1px solid #eaeaea; */
}
.spacing{
    height: 20px;
    width: 100%;
    background: #ebebee;
}
.chairmanRightTitle {
    width: 95.8%;
    height: 69px;
    font-size: 28px;
    font-weight: 700;
    line-height: 69px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding-left: 4.2%;
    border-bottom: 1px solid #e2e2e2;
}

.chairmanRightTitleContent {
    width: 100%;
    margin: 0 auto;
}

.person {
    width: 100%;
    display: table;
}

.personUp {
    padding-top: 40px;
    width: 100%;
    height: 125px;
    padding-bottom: 10px;
}

.personPic {
    display: block;
    width: 120px;
    height: 120px;
    padding-left: 30px;
}

.personRTitle {
    height: 120px;
    font-size: 24px;
    padding-left: 40px;
}

.person .name {
    font-size: 28px;
    display: block;
    color: #333;
    line-height: 70px;
}

.person .position {
    color: #999999;
    display: block;
    width: 240px;
}

.personRContent {
    color: #999;
    width: 660px;
    font-size: 24px;
    margin: 0 auto;
    line-height: 40px;
    border-bottom: 1px dashed #eaeaea;
    padding-bottom: 40px;
}
.chairmanRightTitleContent .person:last-child .personRContent{
    border-bottom:transparent;
}
.expertsContent .person:last-child .personRContent{
    border-bottom:transparent;
}