.totalBox {
    color: #333333;
    background-color: #ebebee;
    height: 100%;
    display: table;
    width: 100%;
}

/*没有任何优惠券start*/
.totalBox .empty-box {
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    position: absolute;
    background-color: #ebebee;
}

.empty-box .emptyImg {
    margin-top: 30%;
    margin-bottom: 10px;
}

/*没有任何优惠券end*/


