/*限时抢购start*/
/*限时抢购的标题start*/
.list_box {
    display: table;
}

.list_box_title {
    font-size: 31px;
    color: #50627a;
    margin: 20px 30px;
    margin-top: 10px;
}

.icon_limit {
    vertical-align: middle;
    padding-right: 15px;
}

.limit_title {
    vertical-align: middle;
}

/*限时抢购的标题end*/
.list_item {
    width: 652px;
    margin: 20px 34px;
    height: 175px;
    background: url("../../images/fa-xian/coupon-center/coupon-bluebg.png") no-repeat center;
}

.list-item-red-bg {
    width: 652px;
    margin: 20px 34px;
    height: 175px;
    background: url("../../images/fa-xian/coupon-center/none_getbg.png") no-repeat center;
}

.list-item-gold {
    width: 652px;
    margin: 20px 34px;
    height: 175px;
    background: url("../../images/fa-xian/coupon-center/coupon-goldbg.png") no-repeat center;
}

.item_left {
    width: 75%;
    float: left;
    height: 100%;
}

.item_right {
    width: 23%;
    float: right;
    height: 100%;
    text-align: center;
    position: relative;
}

.list_remain {
    margin-top: 11px;
}

.list_remain_limit {
    background: url("../../images/fa-xian/coupon-center/icon-islimit.png") no-repeat 10px 10px;
}

.list_right_title {
    font-size: 20px;
    margin-top: 40px;
    position: absolute;
    top: -7px;
    width: 100%;
}

.list_right_starttime {
    font-size: 26px;
    color: #333;
    margin-top: 5px;
    position: absolute;
    bottom: 82px;
    width: 100%;
}

.content_title {
    font-size: 22px;
    margin-top: 33px;
}

.content_time {
    font-size: 26px;
    color: #fd4d4c;
    margin-top: 10px;

}

.content_state_gray {
    font-size: 24px;
    color: #fff;
    width: 124px;
    height: 36px;
    background-color: #afafaf;
    line-height: 36px;
    text-align: center;
    margin: 15px 0 0 12px;
    border-radius: 4px;
}

.content_state_red {
    display: block;
    font-size: 24px;
    color: #fff;
    width: 124px;
    height: 36px;
    background-color: #fd4d4c;
    line-height: 36px;
    text-align: center;
    margin: 0 0 0 12px;
    border-radius: 4px;
    margin-top: 10px;
}

.detail_left {
    width: 175px;
    padding: 40px 20px 40px 34px;
    height: 90px;
    float: left;
}

.list_amount {
    font-size: 54px;
    color: #fff;
}

.list_rmb {
    font-size: 40px;
}

.list_name {
    font-size: 24px;
    color: #fff;
    margin-top: 10px;
    width: 210px;
}

.detail_right {
    width: 200px;
    padding: 42px 40px 40px 20px;
    height: 90px;
    float: left;
    font-size: 20px;
    color: #fff;
    line-height: 34px;
}

.gold-unit {
    font-size: 24px;
}

/*限时抢购end*/