.home {
    background: #ebebec;
    padding-bottom: 90px;
}

.findBanner {
    width: 100%;
    min-height: 226px;
}

.banners {
    height: 226px;
}

.notice {
    display: block;
    height: 90px;
    position: relative;
    background: white;
}

.notice-icon {
    display: block;
    float: left;
    margin-top: 14px;
    margin-left: 26px;
    transform: scale(0.9);
}

.sp-line {
    width: 1px;
    float: left;
    background: #ddd;
    height: 56px;
    margin-top: 18px;
    margin-left: 26px;
}

.right-arrow {
    float: right;
}

.text {
    vertical-align: middle;
    position: absolute;
    left: 146px;
    top: 28px;
    font-size: 24px;
    height: 36px;
    width: 505px;
    line-height: 35px;
    overflow: hidden;
}

.text-scroll-panel {
    position: absolute;
}

.text a {
    display: block;
    width: 505px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon-right-arrow {
    position: absolute;
    top: 32px;
    right: 30px;
    width: 16px;
    height: 26px;
    background: url("../../images/fa-xian/home/8.png");
}

.channel {
    background: #ebebee;
    height: 240px;
    border: 1px solid #d8d8d8;
    border-left: 0;
    border-right: 0;
}

.channel a {
    position: relative;
    display: block;
    height: 88px;
    line-height: 88px;
    width: 315px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    background: white;
    border-radius: 8px;
    color: #555;
    font-size: 28px;
    text-align: right;
    padding-right: 60px;
    box-sizing: border-box;
}

.channel i {
    display: block;
    float: left;
}

.icon {
    display: inline-block;
    margin: 9px 0 0 30px;
    display: inline-block;
    height: 70px;
    width: 70px;
}

.icon-mall {
    background: url("../../images/fa-xian/home/icon-mall.jpg");
}

.icon-xt {
    background: url("../../images/fa-xian/home/icon-xt.jpg");
}

.icon-bao {
    background: url("../../images/fa-xian/home/icon-bao.jpg");
}

.icon-help {
    background: url("../../images/fa-xian/home/icon-help.jpg");
}

.icon-coupon {
    background-image: url("../../images/fa-xian/home/icon-coupon.jpg");
}

.icon-fxh {
    background-image: url("../../images/fa-xian/home/icon-fxh.jpg");
}


.icon-waiting {
    background-image: url("../../images/fa-xian/home/icon-waiting.jpg");
}

.title-recommended {
    color: #333;
    font-size: 30px;
    background: #f9f9f9;
    height: 70px;
    line-height: 70px;
    padding-left: 30px;
}

.events {
    background: white;
    padding: 1px 0;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #e3e5ea;
}

.event {
    display: block;
    width: 660px;
    margin: 20px auto;
}

.event img {
    display: block;
    width: 100%;
}

.contact-us {
    position: relative;
    height: 50px;
    margin: 0 30px;
    font-size: 30px;
    color: #4aa1f9;
    padding-top: 18px;
}

.contact-us a {
    color: #4aa1f9;
}

.contact-us i {
    display: inline-block;
    vertical-align: middle;
}

.contact-us span {
    display: inline-block;
    vertical-align: middle;
}

.about-us-grey {
    color: #ccc;
}

.contact-us i {
    display: block;
    float: left;
    width: 25px;
    height: 26px;
    margin-right: 6px;
    position: relative;
    top: 9px;
}

.service {
    float: left;
}

.icon-service {
    background: url("../../images/fa-xian/home/6.png");
}

.about-us {
    float: right;
}

.icon-about-us {
    background: url("../../images/fa-xian/home/7.png");
}

.icon-about-us-grey {
    background: url("../../images/fa-xian/home/7grey.png");
}

.coupon-count {
    position: absolute;
    top: 6px;
    left: 96px;
    display: inline-block;
    padding: 0px 10px;
    background-color: #fd4d4c;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    color: #fff;
}