.bg {
    background-color: #ebebee;
    color: #333;
    padding-bottom: 30px;
    min-height: 100%;
    font-size: 30px;
}

.group {
    font-size: 30px;
}

.group-title {
    line-height: 80px;
    height: 80px;
    padding: 0 30px;
}

.topics {
    background: white;
    padding-left: 20px;
}

.topic {
    display: block;
    line-height: 80px;
    border-bottom: 1px solid #ccc;
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAeCAMAAAD5ENUgAAAAdVBMVEUAAAC1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vcYjxOpaAAAAJnRSTlMABfjVuVkdEQzz6eTcy8ONcVAiCaWdl4JpZ0pCPjQrF+6xrn1hLoT08J4AAACdSURBVCjPbdHJAoIwDEVRUgQsoIDMg7Pm/z+RhA2kaZdn0/vaIIinwD0QYgeOjYj4qaVFZHhNJH4Zw1jizxBmf4mTJbSzxHtKaCKJt5wQS4nPC2Mh8XxibGQ9tL7Q3hc6MGYPiRXXp3I8bBcl+u7O0whqy6g3V0eaLdFrEa9tVFqpJxRqKjRM71qVtnCkrbTX/zs4X2H20r0jXxxZAX5VFChLm3dkAAAAAElFTkSuQmCC') no-repeat 650px center;
    font-size: 30px;
}

.topic:last-child {
    border-bottom: 0;
}

.topic-title {
    line-height: 80px;
    height: 80px;
    padding: 0 30px;
}

.topic-icon {
    float: left;
    display: block;
    width: 60px;
    height: 80px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-zcdl {
    background: transparent url('../images/faq/zcdl.png') no-repeat center;
}

.icon-sfrz {
    background: transparent url('../images/faq/sfrz.png') no-repeat center;
}

.icon-bdyhk {
    background: transparent url('../images/faq/bdyhk.png') no-repeat center;
}

.icon-hkfs {
    background: transparent url('../images/faq/hkfs.png') no-repeat center;
}

.icon-cjlc {
    background: transparent url('../images/faq/cjlc.png') no-repeat center;
}

.icon-zjgl {
    background: transparent url('../images/faq/zjgl.png') no-repeat center;
}

.icon-zqzr {
    background: transparent url('../images/faq/zqzr.png') no-repeat center;
}

.icon-plcj {
    background-image: url('../images/faq/plcj.png');
}

.icon-hsyh {
    background-image: url('../images/faq/hsyh.png');
}

.icon-yesy {
    background-image: url('../images/faq/yesy.png');
}

.icon-hydj {
    background-image: url('../images/faq/hydj.png');
}

.icon-wyj {
    background-image: url('../images/faq/wyj.png');
}

.icon-xfd {
    background-image: url('../images/faq/xfd.png');
}

.icon-qt {
    background-image: url('../images/faq/qt.png');
}

.topic-content {
    background: white;
}

.qa .q {
    position: relative;
    line-height: 1.5;
    border-bottom: 1px solid #ccc;
    padding: 18px 54px 18px 0;
}

.qa:last-child .q {
    border-bottom: 0;
}

.qa .icon-down-arrow {
    position: absolute;
    display: inline-block;
    height: 80px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    clear: both;
    right: 15px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAeCAMAAAD5ENUgAAAAdVBMVEUAAAC1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vcYjxOpaAAAAJnRSTlMABfjVuVkdEQzz6eTcy8ONcVAiCaWdl4JpZ0pCPjQrF+6xrn1hLoT08J4AAACdSURBVCjPbdHJAoIwDEVRUgQsoIDMg7Pm/z+RhA2kaZdn0/vaIIinwD0QYgeOjYj4qaVFZHhNJH4Zw1jizxBmf4mTJbSzxHtKaCKJt5wQS4nPC2Mh8XxibGQ9tL7Q3hc6MGYPiRXXp3I8bBcl+u7O0whqy6g3V0eaLdFrEa9tVFqpJxRqKjRM71qVtnCkrbTX/zs4X2H20r0jXxxZAX5VFChLm3dkAAAAAElFTkSuQmCC');
}

.qa .icon-down-arrow {
    transform: rotate(90deg);
    top: 0;
}

.qa.show .q .icon-down-arrow {
    transform: rotate(-90deg);
}

.qa.show .a {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 0.5rem 1.6rem 2rem;
    background: #f9f9f9;
    line-height: 2rem;
    color: #555;
    border-bottom: 1px solid #e3e5ea;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 9999rem;
}

.q {
    margin-left: 30px;
}

.a {
    overflow: hidden;
    background: #f9f9f9;
    padding: 0 30px;
    height: 0;
    font-size: 24px;
}

.bg {
    background-color: #ebebee;
    color: #333;
    padding-bottom: 30px;
    min-height: 100%;
}

.group {
    font-size: 30px;
}

.group-title {
    line-height: 80px;
    height: 80px;
    padding: 0 30px;
}

.topics {
    background: white;
    padding-left: 20px;
}

.topic {
    display: block;
    line-height: 80px;
    border-bottom: 1px solid #ccc;
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAeCAMAAAD5ENUgAAAAdVBMVEUAAAC1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vca1vcYjxOpaAAAAJnRSTlMABfjVuVkdEQzz6eTcy8ONcVAiCaWdl4JpZ0pCPjQrF+6xrn1hLoT08J4AAACdSURBVCjPbdHJAoIwDEVRUgQsoIDMg7Pm/z+RhA2kaZdn0/vaIIinwD0QYgeOjYj4qaVFZHhNJH4Zw1jizxBmf4mTJbSzxHtKaCKJt5wQS4nPC2Mh8XxibGQ9tL7Q3hc6MGYPiRXXp3I8bBcl+u7O0whqy6g3V0eaLdFrEa9tVFqpJxRqKjRM71qVtnCkrbTX/zs4X2H20r0jXxxZAX5VFChLm3dkAAAAAElFTkSuQmCC') no-repeat 650px center;
}

.topic:last-child {
    border-bottom: 0;
}

.topic-title {
    line-height: 80px;
    height: 80px;
    padding: 0 30px;
}

.topic-icon {
    float: left;
    display: block;
    width: 60px;
    height: 80px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-zcdl {
    background: transparent url('../images/faq/zcdl.png') no-repeat center;
}

.icon-sfrz {
    background: transparent url('../images/faq/sfrz.png') no-repeat center;
}

.icon-bdyhk {
    background: transparent url('../images/faq/bdyhk.png') no-repeat center;
}

.icon-hkfs {
    background: transparent url('../images/faq/hkfs.png') no-repeat center;
}

.icon-cjlc {
    background: transparent url('../images/faq/cjlc.png') no-repeat center;
}

.icon-zjgl {
    background: transparent url('../images/faq/zjgl.png') no-repeat center;
}

.icon-zqzr {
    background: transparent url('../images/faq/zqzr.png') no-repeat center;
}

.icon-plcj {
    background-image: url('../images/faq/plcj.png');
}

.icon-hsyh {
    background-image: url('../images/faq/hsyh.png');
}

.icon-yesy {
    background-image: url('../images/faq/yesy.png');
}

.icon-hydj {
    background-image: url('../images/faq/hydj.png');
}

.icon-wyj {
    background-image: url('../images/faq/wyj.png');
}

.icon-xfd {
    background-image: url('../images/faq/xfd.png');
}

.topic-content {
    background: white;
}

.qa div {
    line-height: 80px;
    border-bottom: 1px solid #ccc;
}

.qa div:last-child {
    border-bottom: 0;
}

.qa.show .q .icon-down-arrow {
    transform: rotate(-90deg);
}

.qa.show .a {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 0.5rem 1.6rem 2rem;
    background: #f9f9f9;
    line-height: 2rem;
    color: #555;
    border-bottom: 1px solid #e3e5ea;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 9999rem;
}

.q {
    margin-left: 30px;
}

.a {
    overflow: hidden;
    background: #f9f9f9;
    padding: 0 30px;
    height: 0;
    font-size: 24px;
}
