.investSchool {
    width: 100%;
    height: 100%;
    background: #ebebee;
}

.investSchool .tabGroup {
    width: 100%;
    display: table;
    height: 90px;
    line-height: 90px;
    position: relative;
    background: #ebebee;
    margin-top: -6px;
    padding: 0 0 4px;
}

.investSchool .dashed1 {
    height: 30px;
    width: 3px;
    background: url("../images/invest-school/dash.png") no-repeat;
    position: absolute;
    top: 30px;
    left: 230px;
}

.investSchool .dashed2 {
    height: 30px;
    width: 3px;
    background: url("../images/invest-school/dash.png") no-repeat;
    position: absolute;
    top: 30px;
    right: 250px;
}

.investSchool .tabBlock {
    float: left;
    width: 33.33%;
    text-align: center;
    color: #555;
    font-size: 32px;
    background: #fff;
}

.investSchool .tab {
    padding: 0 4px;
    font-style: normal;
    padding-bottom: 23px;
}

.investSchool .tabselected {
    padding: 0 4px;
    font-style: normal;
    padding-bottom: 23px;
    color: #fa4f51;
    border-bottom: 4px solid #fa4f51;
}

.investSchool .space {
    height: 20px;
    width: 100%;
    background: #ebebee;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.investSchool .list {
    width: 100%;
    height: 100%;
    background: #fff;
}

.list .cell {
    display: block;
    margin-left: 30px;
    height: 90px;
    line-height: 90px;
    border-bottom: #e3e5ea 1px solid;
    font-size: 28px;
    color: #555;
}

.list .cellText {
    float: left;
    width: 620px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list .iconArrow {
    float: right;
    margin: 30px 30px 31px 0;
}

.filesBg {
    width: 660px;
    height: auto;
    margin: 30px auto;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
    white-space: pre-line;
    overflow: hidden;
}

.schoolBanner{
    width: 100%;
    height: 250px;
    background: url("../images/invest-school/banner.jpg") no-repeat center;
}
