.connection-box {
    width: 100%;
    height: auto;
    color: #5e5100;
    overflow: hidden;
    font-family: 'PingFang SC';
}

.connection-box .top {
    width: 100%;
}

.connection-box .step {
    width: 100%;
    height: 267px;
    margin: 40px 0 100px 46px;
}

.connection-box .step-item {
    float: left;
    width: 225px;
}

.connection-box .step-item img {
    margin-bottom: 20px;
    margin-left: 5px;
}

.connection-box .step-text {
    font-size: 26px;
    text-align: center;
    padding-right: 40px;
}

.earn-box {
    font-size: 22px;
    margin-bottom: 100px;
}

.earn-box .case-box {
    height: 267px;
    background: url("../images/invite/casebg.png") no-repeat center;
    line-height: 40px;
    padding: 33px 60px 0 60px;
}

.earn-box .case-title {
    font-weight: 700;
}

.vip-box {
    font-size: 24px;
}

.title-invite {
    margin-bottom: 30px;
}

.vip-pic {
    margin-bottom: 15px;
}

.vip-text {
    padding-left: 50px;
}

.text-item {
    width: 126px;
    padding-right: 40px;
    float: left;
    text-align: center;
    line-height: 35px;
}

.mj-box {
    width: 640px;
    padding: 50px 40px 0 40px;
    height: 84px;
    text-align: center;
    display: table;
    font-size: 24px;
    line-height: 35px;
}

.mj-text {
    float: left;
    padding-top: 18px;
}

.mj-pic {
    float: right;
}

.connection-box .colorRed {
    color: #d10000;
}

.connection-box .font28 {
    font-size: 28px;
}
